<!-- extending from base template -->

{% extends "index.html" %}
{% load static %}
{% block content %}
<div class = "about_us">
  <div class="p-5 m-4 text-center" style="background-color: #F5D9D9">
    <h1 class="fs-1">About upv_komsai_hub</h1>
    <p>Welcome to upv_komsai_hub, the hangout site for komsai students of UPV! </p>
    <p>Enjoy your stay here. Don't forget to use ShareSpace!</p>
</div>

<div class="p-4 m-4 text-center" style="background-color: whitesmoke">
    <h1 class="fs-1">Mission</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna lectus, vestibulum vel 
        sagittis sit amet, posuere in sapien. Phasellus dolor augue, efficitur vel nisi eu, maximus volutpat erat. </p>

</div>    

<div class="p-4 m-4 text-center" style="background-color: #F5D9D9">
        <h1 class="fs-1">Vision</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna lectus, vestibulum vel 
            sagittis sit amet, posuere in sapien. Phasellus dolor augue, efficitur vel nisi eu, maximus volutpat erat.</p>
</div>

<div class="p-4 m-4 text-center" style="background-color: whitesmoke">
    <h1 class="fs-1">About the developer</h1>
    <p>upv_komsai_hub was developed by a of 2nd year Computer Science student as a requirement for theier CMSC 126 Laboratory Subject</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna lectus, vestibulum vel 
        sagittis sit amet, posuere in sapien. Phasellus dolor augue, efficitur vel nisi eu, maximus volutpat erat.</p>
</div>

<div class="p-4 m-4 text-center" style="background-color: #F5D9D9">
    <h1 class="fs-1">Contact Us</h1>
    <button type="button" class="btn btn-light">SNS</button>
    <button type="button" class="btn btn-light">Email@email.com</button>
    <button type="button" class="btn btn-light">Phone Number</button>
</div>
{% endblock content %}