<!-- extending from base template -->

{% extends "index.html" %}
{% load static %}
{% block content %}
      {% for message in share_message %}
            <div class="media mb-4">
                  <img src="{%static 'images/anon_char.png' %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                  <div class="media-body">
                      <h6><a class="text-secondary font-weight-bold" href="">{{message.sName}}</a> <small><i>Sent:{{message.date}}</i></small></h6>
                      <p>{{message.sMessage}}</p>
                      <button class="btn btn-sm btn-outline-secondary">Reply</button>
                  </div>
      {% endfor %}
{% endblock content %}

            <!-- This is how the values from the sharemessage form is shown-->
            {% comment %} <h1>From {{message.sName}}</h1>
            <p> Sent:{{message.date}}</p>
            <p> {{message.sMessage}} </p> {% endcomment %}
